<nav class="nav-extended">
  <div class="nav-wrapper">
    <a routerLink="/dashboard" class="brand-logo"> TURBO BROCCOLI </a>
    <ul class="right hide-on-med-and-down">
      <a routerLink="/profile"><i class="large material-icons">person</i></a>
    </ul>
  </div>
</nav>

<div class="nav-content">
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="small material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
</div>
<button class="btn" (click)="back()"><i class="material-icons">keyboard_return</i></button>
<button class="btn" (click)="logout()"><i class="material-icons">exit_to_app</i></button>
