@media only screen and (max-width: 601px){
    .nav-wrapper a{
        width:70%;
        text-align: center;
    }
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 40%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}