<div class="page-title">
  <h3>{{page}}</h3>
  <a *ngIf="loginService.loggedIn()" class="btn red right hide-on-small-only" (click)="creatingPost = true">Create new post</a>
  <a *ngIf="loginService.loggedIn()" class="btn small red right hide-on-med-and-up" (click)="creatingPost = true"><i class="material-icons">add</i></a>
  <span *ngIf="loginService.loggedIn()">
    <span *ngIf="isSubscribed();else not_subscribed">
      <a class="btn red right hide-on-small-only" (click)="subscribe()" styles="{margin-right: 5px}">Unsubscribe</a>
      <a class="btn small right red hide-on-med-and-up" (click)="subscribe()" styles="{margin-right: 5px}"><i class="material-icons">subscriptions</i></a>
    </span>
    <ng-template #not_subscribed>
      <a class="btn green right hide-on-small-only" (click)="subscribe()" styles="{margin-right: 5px}">Subscribe</a>
      <a class="btn small right green hide-on-med-and-up" (click)="subscribe()" styles="{margin-right: 5px}"><i class="material-icons">subscriptions</i></a>
    </ng-template>
  </span>
</div>
<div *ngIf="creatingPost">
  <div class="row">
    <div class="col s12 m10">
      <div class="card">
        <form>
          <div class="card-content">
            <span class="card-title">Create post</span>
            <div class="input-field">
                <input [(ngModel)]="title" name="title" type="text" class="validate">
                <label>Title</label>
            </div> <div class="input-field">
                <input [(ngModel)]="content" name="content" type="text" class="validate">
                <label>Content</label>
            </div> 
          </div>
          <div class="card-action">
            <button class="btn red" (click)="createPost()">Create post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="posts">
  <div *ngIf="posts.length > 0;else no_content">
    <div *ngFor="let p of posts">
      <div class="row">
        <div class="col s12 m10">
          <div class="card">
            <div class="card-content">
                <span class="card-title">{{p.title}}</span>
            </div>
            <div class="card-action post-footer">
              <a href="#">Give coin ({{p.upCoins}} coins)</a>
              <a routerLink="/g/{{p.page}}/post/{{p._id}}">View comments ({{p.comments.length.toString()}})</a>
              <p>Post by {{p.user}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #no_content>
  <div class="row">
    <div class="col s12 m10">
      <div class="card">
        <div class="card-content">
          <p>There are no posts yet for this subject. Be the <a class="btn red" (click)="creatingPost = true">First!</a> to post about this subject</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>