<div class="row">
    <form class="col s12">
        <div class="input-field">
          <i class="material-icons prefix">account_circle</i>
          <input [(ngModel)]="username" name="username" type="text" class="validate">
          <label >Username</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">lock</i>
          <input [(ngModel)]="password" name="password" type="password" class="validate">
          <label >Password</label>
        </div>
        <div class="input-field">
            <i class="material-icons prefix">email</i>
            <input [(ngModel)]="email" name="email" type="email" class="validate">
            <label >Email</label>
          </div>
      <a class="btn-large waves-effect waves-light red" (click)="registerUser()">Register</a>
    </form>
  </div>